<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hello</title>
</head>

<body>
    <div class="list">
        {% for kachel in kacheln %}
        <div class="elem">
            <a href="https://youtu.be/{{ kachel.yt_videoid }}" class="thumbnail">
                <img src="{{ kachel.media_thumbnail_url }}" class="thumbnail_img">
            </a>
            <a href="https://youtu.be/{{ kachel.yt_videoid }}" class="title">
                {{ kachel.title }}
            </a>
            <a href="https://www.youtube.com/channel/{{ kachel.yt_channelid }}/videos" class="author">
                {{ kachel.author }}
                •
            </a>
            <span class="views">
                {{ kachel.views_in_thousands() }}
            </span>
            <div class="published">
                {{ kachel.uploaded_ago() }}
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>
